body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    background-color: #cacaca;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
}

section {
    padding: 20px;
    margin: 10px auto;
    max-width: 600px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #007bff;
}

footer {
    text-align: center;
    padding: 10px;
    background: powderblue;
}